.header {
    color: rgba(204, 169, 160, 255) !important;
    font-family: 'Abril Fatface', cursive;
    background-color: rgba(131, 107, 76, 255) !important;
    font-size: 2em;
    padding: 2%;
}

.social{
    background-color: rgba(250,241,227,98) !important;
    color: rgba(131,107,76,255) !important;
    padding: 0.5%;
}

.footer{
    color:rgba(131,107,76,255)!important;
    font-family: 'Abril Fatface', cursive;
    background-color:rgba(185,168,120,255);!important;
    padding:0.5%;
}

.title{
    color:rgba(185,168,120,255);!important;
    font-family: 'Abril Fatface', cursive;
}

.title-2{
    color:rgba(131,107,76,255);!important;
    font-family: 'Abril Fatface', cursive;

}


.table{
    background-color:rgba(204,169,160,255);
    color:rgba(131,107,76,255);!important;
    font-size:0.8em;
}

.table-2{
    background-color: rgba(250,241,227,98) !important;
}

.buy{
    background-color:rgba(185,168,120,255);!important;
}

body{
    font-size:2em;
    color:rgba(204,169,160,255) !important;
    line-height: 1.5em;
    text-align: center;
    background-color: rgba(250,241,227,98) !important;
    font-family: 'Josefin Sans', sans-serif;
}

.txt-1{
    font-size:1em;
    line-height: 2em;
    color:rgba(250,241,227,98) !important;
}

.txt-2{
    font-size:2em;
}

.txt-3{
    font-size:1em;
    line-height: 2em;
}

p{
    font-size:0.8em;
}

.wrapper{

    margin-left: 10%;

    margin-right: 10%;

}

.block-1{
    background-color:rgba(185,168,120,255);!important;
}

.nav-item{
    background-color:rgba(204,169,160,255) !important;
}
.nav-link{
    color:rgba(131,107,76,255) !important;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.5s;
}

.navbar-brand{
    background-color:rgba(204,169,160,255) !important;
    color:rgba(131,107,76,255) !important;
    font-family: 'Abril Fatface', cursive;
}
.navbar{
    background-color:rgba(204,169,160,255) !important;
    font-family: 'Abril Fatface', cursive;
    font-size: 0.8em;
}

.navbar-nav{
    background-color:rgba(204,169,160,255) !important;
}

.navbar .navbar-nav .nav-link:hover {
    background-color:rgba(185,168,120,255);!important;
    color: rgba(131,107,76,255) !important;
}

.active{
    color:rgba(131,107,76,255) !important;
    font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 0;
    }
    .navbar .navbar-nav .nav-link {
        padding: 0.5em 0.7em;
    }
    .navbar .navbar-brand {
        padding: 0 0.8em;
    }
}

* {box-sizing:border-box}
