.header {
    color: rgba(204, 169, 160, 255) !important;
    font-family: 'Abril Fatface', cursive;
    background-color: rgba(131, 107, 76, 255) !important;
    font-size: 4vw;
    padding: 2%;
}

.social{
    background-color:rgba(204,169,160,255) !important;
    color: rgba(131,107,76,255) !important;
    padding: 0.5%;
}

.footer{
    color:rgba(131,107,76,255)!important;
    font-family: 'Abril Fatface', cursive;
    background-color:rgba(204,169,160,255)!important;
    padding:0.5%;
}

.title{
    color:rgba(185,168,120,255);!important;
    font-family: 'Abril Fatface', cursive;
}

.list-group-item{
    background-color:rgba(204,169,160,255)!important;
    color:rgba(131,107,76,255)!important;
}

body{
    font-size:1.8vw;
    color:rgba(204,169,160,255) !important;
    line-height: 2.0em;
    text-align: center;
    background-color: rgba(131,107,76,255) !important;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
    margin-left: 10%;
    margin-right: 10%;
}

.nav-item{
    background-color:rgba(204,169,160,255) !important;
}
.nav-link{
    color:rgba(131,107,76,255) !important;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand{
    background-color:rgba(204,169,160,255) !important;
    color:rgba(131,107,76,255) !important;
    font-family: 'Abril Fatface', cursive;
}
.navbar{
    background-color:rgba(204,169,160,255) !important;
}

.navbar-nav{
    background-color:rgba(204,169,160,255) !important;
}

.active{
    color:rgba(131,107,76,255) !important;
    font-family: 'Josefin Sans', sans-serif;
}

* {box-sizing:border-box}
